.main {
  display: flex;
  font-family: "Pioni ML Regular";
  padding: 1rem;
}

.buttons {
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

mat-form-field-underline {
  display: none;
}

.resetBtn {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
.saveBtn {
  background-color: blue;
  width: 100%;
  height: 2.5rem;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.disabled {
  background-color: gray;
}

::ng-deep{
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    cursor: pointer;
    border-radius: 30px;
    border: none;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: transparent!important;
}

}

